.git
.ruff_cache
.vscode
.venv

docs
test
build
DES_testing
other_cosmology
output
paramfiles
scripts
simulated
src/legacy

.gitignore
.pre-commit-config.yaml
.python-version
LICENSE

tmp*
**/tmp*

**/.pytest_cache
**/__pycache__
**/.DS_Store
**/.dockerignore
*.egg-info
**/*.so
